.fixed.inset-0.flex.items-center.justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.p-4.mb-4.rounded.shadow-lg {
    pointer-events: auto;
}

.bg-green-500 {
    background-color: #48bb78; /* Verde */
}

.bg-red-500 {
    background-color: #f56565; /* Rojo */
}

.text-white {
    color: white;
}
