/* porkapop/shared/header/header.css */
.bg-dark-blue {
    background-color: #202e53; /* Azul oscuro */
}

.hidden {
    display: none;
}

.h-16 {
    height: 7rem;
}

.text-white {
    color: white;
}

.text-blue-500:hover {
    color: #4299e1;
}

.text-gray-300 {
    color: #d1d5db;
}

.text-gray-300:hover {
    color: #a0aec0;
}

.bg-green-500 {
    background-color: #48bb78;
}

.bg-red-500 {
    background-color: #f56565;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rounded {
    border-radius: 0.25rem;
}
.justify-around {
    justify-content: space-around;
}
header.bg-dark-blue.shadow-md.p-4.flex.justify-between.items-center {
    padding-left: 3rem;
    padding-right:3rem;
}